*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

html,body{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

header{
    height: 50px;
    padding: 20px 0;
}

.doce{
    margin-top: -30px;
    width:10%;
}

.doce-festa{
    margin-top: 30px;
    width:10%;
}

.menu {
    padding-top: 10px;
    width:100%;
    text-align: right;
}

.menu a{
    color: brown;
    text-decoration: none;
    font-weight: bold;
    margin-right: 3px;
}

a{
    margin: 5px;
    padding: 5px 10px;
    color: rgb(255, 0, 0);
    border: 1px solid brown;
    border-radius: 50px;
}

a:hover{
    background-color: rgb(225, 0, 255);
    color: rgb(0, 35, 236);
}

section.sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extras{
    position: absolute;
    bottom: -1300px;
    right: -600px;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.411);
}

.doces{
    margin-top: 30px;
    padding-top: 10px;
    width:20%;
    text-align: right;
}

.festa{
    margin-top: 80px;
    padding-top: 10px;
    width:60%;
    text-align: right;
}

.cone{
    margin-top: 80px;
    padding-top: 10px;
    width:60%;
    text-align: right;
}

.texto-sobre{
    position: relative;
    margin-top: 60px;
}
.texto-sobre h3{
    margin-top: 40px;
}

.texto-sobre2{
    position: relative;
    margin-top: 100px;
}
.texto-sobre2 h3{
    margin-top: 40px;
}

.back{
    margin-top: 30px;
    padding-top: 10px;
    width:50%;
    text-align: right;
}